<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424706719817-grg2sodudojjjn3dj975vgc7goenabma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424706719817-grg2sodudojjjn3dj975vgc7goenabma</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>424706719817-3t50n5m95t57j1t7m13h6g423tq72tsn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBrEabiFf0zMgO0o5Eixc2s1cHEac9kiBU</string>
	<key>GCM_SENDER_ID</key>
	<string>424706719817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vanasol.Asana</string>
	<key>PROJECT_ID</key>
	<string>asana-e5c3b</string>
	<key>STORAGE_BUCKET</key>
	<string>asana-e5c3b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424706719817:ios:36ec2ff657b96b911fbf98</string>
</dict>
</plist>